/* Обращение ко всем тегам Div на странице */
/* div {
	color: blue;
} */



/* обращение ко всем тегам с классом Div    */
.div {
	color: brown;
}


/* обращение к ID */
#toptext {
	color: green;
}

/* Обращение ко всем DIV-ам с классом Text2 */

div.text2 {
	color: chocolate;
}

/* Обращение одновременно к классам Text5 и Text6 */
.text5,
.text6 {
	color: cadetblue;
}

/* Обращение ко всем независимо от классов и тегов. */
/* *{
	color: aqua;
} */


/* Обращение ко всем тегам P у которых есть родительский класс Text3 */
.text3 p {
	color: green;
}

/* обращение ко всем  тегам P первого уровня у которых есть родительский элемент только класс text */
.text3>p {
	color: blueviolet;
}

/* все теги P которые находятся дальше по коду после обьектов  с классом текст и имеют тот же уровень вложение */
/* .text6~p {
	color: coral;
} */

/* только первый тег  P который находятся дальше по коду после обьектов  с классом текст  */
.text6+p {
	color: yellowgreen;
}

/* обращение к нескольким классам */
.LOREM,
.MEROL {
	color: cornflowerblue
}